body{
	background: URl("footer_lodyas.png");
}

input[type="text"]:focus { outline: none; }

#keks{
	margin-top: 150px;
	text-align: center;
	display: inline-block;

-webkit-box-shadow: 0 0 10px 10px #406299;
box-shadow: 0 0 10px 10px #406299;
}


#outText{
	font-size: 3em;
text-shadow: 0 0 10px #000000;
}